<%= render 'shared/flash_messages' %>
<div class="container-login">
  <h2>プロフィール編集</h2>

    <%= form_with model: @user do |form| %>

    <div class="form-group">

      <%= form.label :image, class: 'control-label' %>
      <img id="img_prev" src="#" class='hidden avater-img' />
      <% if current_user.persisted? && current_user.image? %>
        <%= image_tag current_user.image.to_s, class: 'present_img avater-img' %>
      <% else %>
        <%= image_tag 'default_image.png', class: 'present_img' %>
      <% end %>

      <div class="custom-file">
        <%= form.file_field :image, class: 'custom-file-input', id: "inputFile" %>
        <label class="custom-file-label" for="inputFile" data-browse="参照">ファイルを選択して下さい</label>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :name, class: 'control-label' %>
      <%= form.text_field :name, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= form.label :description, class: 'control-label' %>
      <%= form.text_area :description, class: 'form-control', rows: "7" %>
    </div>

    <div class="form-group">
      <%= form.submit '変更する', class: 'btn btn-primary btn-block' %>
    </div>
    <% end %>

    <%= form_with model: @user, url: {action: 'user_update'} do |f| %>
      <%= f.submit 'Twitterアカウント情報を読み込む', class: 'btn btn-dark btn-block', data: { confirm: "Twitterアカウントのプロフィールを反映させますか？" } %>
      <small class="form-text text-muted">※Twitter連携をするとプロフィールが取得できます</small>
    <% end %>
</div>
<script>
  bsCustomFileInput.init();
</script>