<div class="card">
  <%= image_tag @user.image_url, :size => '180x180', class: "card-image-top" %>
  <div class="card-body">
    <h4 class="card-title"><%= @user.name %></h4>
    <small class="form-text text-muted card-nickname"><%= @user.nickname %></small>
    <p class="card-text">
      <%= @user.description %>
    </p>
    <a href="https://twitter.com/<%= @user.nickname %>" class="btn btn-primary"><i class="fa fa-twitter" aria-hidden="true"></i> My Twitter</a>
  </div>
</div>