<header class="sticky-top">
  <nav class="navbar navbar-expand-sm navbar-dark main-color">
     <h1><%= link_to "EventChat", root_path, class: 'navbar-brand' %></h1>
    <% unless user_signed_in? %>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse float-right" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    <% else %>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse align-middle" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <%= link_to "投稿一覧", root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "イベント作成", new_event_path, class: 'nav-link' %>
          </li>
        </ul>
        <%= render 'shared/dropdown' %>
      </div>
    <% end %>
  </nav>
</header>